asyncio==3.4.3
aiofiles==23.2.1
aiohttp==3.9.3
numpy==1.26.4
pillow==10.2.0
psutil
pyrogram==2.0.106
py-tgcalls==0.9.7
python-dotenv==1.0.1
tgcrypto==1.2.5
git+https://github.com/Tarx77/Hexor.git
git+https://github.com/Tarx77/Hexoop.git
